
.head{
    width: 1600px;
    height: 808px;
    left: 0px;
    top: 0px;
    background-image: url('../images/banner/banner3.png');

}

.banner-title{
    text-align: right;
    padding: 216px 230px 24px 845px;
}

.banner-description{
    text-align: right;
    padding: 0 230px 32px 845px;
}
.btn{
    text-align: right;
    padding: 0 230px 166px 1210px;
   
}
/* about style */
.about{
    display: flex;
    width: 1072px;
    height: 723.3px;
    left: 206px;
    top: 939px;
    padding: 130px 322px 130px 206px;
}
.about-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.about-bar{
    padding: 130px 87px 130px 0px;
}
.about-info{
    width: 416px;
    height: 400px;
    padding: 369px 0px 214px 0;
}
/* plan style */

.plan{
    width: 1141px;
    height: 299.96px;
    padding: 130px 230px 130px 230px;

}
.plan-title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #151414;

}
.plan-container{
    display: flex;
    gap: 86px;
}
.plan-discription{
    padding: 0px 86px 0 86px;

}
.plan-info{
    padding: 24px 0 6px 0;
    font-weight: 700;
    font-size: 30px;

}
/* mind style */

.mind{
    padding: 124px 230px 130px 230px;
    width: 1140px;
    height: 400px;
}

.background{
   
    background-image: url(../images/gradient3.png);
    background-repeat: no-repeat;
    border-radius: 8px;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0));

}

.mind-title{
   padding: 59px 617px 24px 64px;
    font-weight: 700;
    font-size: 30px; 
    color: #FFFFFF;
}
.btn-call{
    padding: 0px 916px 59px 64px;
}
.btn-discription{
    
    height: 60px;
    width: 164px;
    color: #F15B22;
}

/* footer style */

.footer{
    display: flex;
    width: 1600px;
    height: 577px;
    background: #151414;
}
.footer-add{
    color: #F8F8F8;
    width: 485px;
    height: 317px;
    padding: 130px 331px 130px 230px;
}
.subscribe-bar{
    width: 325px;
    height: 204px;
    color: #F8F8F8;
    padding: 130px 229px 243px 0px ;
}
.subscribs-tile{
    font-weight: 600;
    font-size: 25px;
}
.email-bar{
    padding: 41px 0px 16px 0px;
}
.btn-subs{
    width: 170.11px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 8px;
    color: #F15B22;
}
.footer-icon{
    display: flex;
    gap: 20px;
}